<ion-view view-title="Premier Cannabis Delivery Service">
  <ion-content class="padding">
      <div align="center" class="icon">
        <img src="main/assets/images/cloud-9.jpg">
      </div>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-balanced" ui-sref="main.shop">Customer</button>
      <button class="button button-block button-balanced" ui-sref="driver.map">Driver</button>
  </ion-content>
</ion-view>