<ion-view view-title="Orders">
  <ion-content>

    <!-- content goes here -->
    <ion-list>
      <ion-item ng-repeat="item in ctrl.list"
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="driver.orderDetail({ id: $index })">
        <img src="main/assets/images/cloud-9.jpg">
        <h2>{{item.name}}</h2>
        <p>{{item.address}} | ${{item.total}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
