<ion-view view-title="Cloud 9">
  <ion-content>

    <!-- content goes here -->
    <ion-list>
      <ion-item collection-repeat="item in ctrl.list"
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="main.itemDetail({ id: item.id })">
        <img src="{{item.img}}">
        <h2>{{item.name}}</h2>
        <p>{{item.subspecies}} | THC: {{item.thc}}%</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
